
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    font-weight:bold;
    text-align: center;
}
h2, h3, h6 {
    text-align: center;
}


.about {
    text-decoration: underline;
    font-size: 2rem;
    margin-left: 650px;
}
.chris {
    max-width: 400px;
    max-height: 400px;
}

.intro {
    text-align: center;
    margin: 100px;
    font-size: 1.5rem;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 3fr);
    grid-gap: 15px;
}
.gallery__img {
    width: 200px;
    height: 200px;
}

.montlake {
    max-height: 400px;
    max-width: 400px;
} 

.container{
    display: flex;
}

 .grid{
    display: grid;
    grid-template-areas: "img1 img2"
                         "img3 img4"
                         "img5 img6";
}
.gallery__img--1{
    grid-area: img1;
}
.gallery__img--2{
    grid-area: img2;
}
.gallery__img--3{
    grid-area: img3;
}
.gallery__img--4{
    grid-area: img4;
}
.gallery__img--5{
    grid-area: img5;
}
.gallery__img--6{
    grid-area: img6;
} 
h3{
    text-align: center;
}
.row{
   justify-content: center;
}
.container3{
    display: flex;
}

.bg { 
    background-image: url("images/flowers.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .card-box {
    margin-top: 100px;
    margin-left: 130px;;
  }
  .card {
    display: inline-block;
  }
  .card-body {
    text-align: center;
  }

  /* Testimonials */

#testimonials, #press {
    text-align: center;
    background-color: #ffffff;
    color: black;
  }
  
  .carousel-item {
    padding: 4% 25%;
  text-align: center;
  }

  .testimonial {
    margin: 0 430px 0;
    text-align: center;
    color: #bbb333;
  }

  .dot {
    align-items: center;
    height: 20px;
    width: 20px;
    background-color: #bbb333;
    border-radius: 50%;
    display: inline-block;
    margin: 30px 0 30px 0;
  }
=======

  .card {
    display: inline-block;
  }

  .card-body {
    text-align: center;
  }

.container4 {
    width: 100%;
    text-align: center;
}
#newItemForm {
display: inline-block;
   margin: 0 auto;
   
}

.logo {
    padding-right: 5px;
}